Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]sx: eslint --fix
./**/*.[jt]s: eslint --fix

publish
  .config/starship.toml
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/home.lab/index.ts
  _/shared/models/Talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/clusters/_TalosCluster.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/hostwriter/.gitignore
  _/hostwriter/main.rs
Due: none

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  .Brewfile
  _/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

publish
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  .Brewfile
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/hostwriter.app/pnpm-lock.yaml
  _/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/hostwriter/.gitignore
  _/hostwriter/Cargo.lock
  _/hostwriter/Cargo.toml
  _/hostwriter/main.rs
  _/hostwriter/src/.gitignore
Due: none

publish
  _/hostwriter.app/package.json
Due: none

publish
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  _/hostwriter.app/package.json
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  _/hostwriter.app/package.json
  _/hostwriter.app/pnpm-lock.yaml
  _/hostwriter.app/pnpm-workspace.yaml
Due: prettier --write

publish
  _/package.json
  _/pnpm-lock.yaml
Due: prettier --write

publish
  _/package.json
Due: none

publish
  _/hostwriter.app/package.json
  _/hostwriter.app/pnpm-lock.yaml
  _/package.json
Due: prettier --write

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/hostwriter.app/package.json
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  _/hostwriter.app/package.json
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/kubes/Plex.ts
Due: eslint --fix

publish
  .gitignore
  .npmrc
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .Brewfile
  .config/aliases
  .gitmodules
  .zshrc
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/aliases
  .gitmodules
  .zshrc
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  _/hostwriter.app/pnpm-lock.yaml
  _/pnpm-lock.yaml
Due: prettier --write

publish
  _/hostwriter.app/pnpm-lock.yaml
  _/hostwriter.app/pnpm-workspace.yaml
Due: prettier --write

publish
  Applications/Chrome Apps.localized/Facebook.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Facebook.app/Contents/MacOS/app_mode_loader
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/us.zoom.updater.config.plist
  _/resume/index.css
  _/resume/index.html
  package.json
Due: prettier --write, stylelint --fix

publish
  _/resume/index.css
  _/resume/index.html
Due: prettier --write, stylelint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  _/resume/index.css
  _/resume/index.html
Due: prettier --write, stylelint --fix

publish
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/resume/index.css
Due: stylelint --fix

publish
  _/resume/index.css
Due: stylelint --fix
