Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

publish
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/pnpm-lock.yaml
Due: prettier --write

publish
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
Due: none

publish
  Documents/manuals/GLXD4R+-user-guide.pdf
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/aliases
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Documents/guitar/astrocaster.svg
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Documents/guitar/astrocaster.svg
Due: none

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Makefile
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Applications/Chrome Apps.localized/Cloudflare.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Cloudflare.app/Contents/MacOS/app_mode_loader
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Makefile
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  Documents/guitar/SM_0141332321_BEN_GIBBARD_MUSTANG.pdf
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
Due: eslint --fix

publish
  Library/Application Support/Code/User/keybindings.json
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/PkgInfo
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/Resources/app.icns
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/Resources/en-US.lproj/InfoPlist.strings
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/_CodeSignature/CodeResources
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/pnpm-lock.yaml
  _/shared/models/kubernetes/_Cluster.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

publish
  Library/Preferences/com.apple.universalaccess.plist
  Makefile
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Makefile
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  _/pnpm-lock.yaml
Due: prettier --write

publish
  .github/workflows/hostwriter.app.yml
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/.gitignore
  _/cloud/hostwriter.app/pnpm-lock.yaml
  _/pnpm-lock.yaml
Due: prettier --write

publish
  .github/workflows/hostwriter.app.yml
Due: prettier --write

publish
  .github/workflows/hostwriter.app.yml
  .github/workflows/publish.yml
Due: prettier --write

publish
  .Brewfile
Due: none

publish
  .warp/settings.toml
Due: none

publish
  .github/workflows/tag.yml
Due: prettier --write

publish
  Applications/Chrome Apps.localized/Google Meet.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Google Meet.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/Google Meet.app/Contents/PkgInfo
  Applications/Chrome Apps.localized/Google Meet.app/Contents/Resources/app.icns
  Applications/Chrome Apps.localized/Google Meet.app/Contents/Resources/en-US.lproj/InfoPlist.strings
  Applications/Chrome Apps.localized/Google Meet.app/Contents/_CodeSignature/CodeResources
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/hostwriter.app/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  .lintstagedrc.yml
  .prettierrc.yml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/hostwriter/Cargo.lock
  _/hostwriter/Cargo.toml
  _/hostwriter/src/main.rs
  _/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.dock.plist
  _/hostwriter/src/main.rs
Due: none

publish
  .gitignore
  rustfmt.toml
Due: none

publish
  .config/starship.toml
  .lintstagedrc.yml
  .prettierrc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

publish
  .config/starship.toml
  _/hostwriter/.gitignore
  _/hostwriter/Cargo.lock
  _/hostwriter/Cargo.toml
  _/hostwriter/src/main
Due: none

publish
  _/hostwriter/.gitignore
  _/hostwriter/src/main
  _/hostwriter/src/main.rs
Due: none

publish
  .gitignore
  Applications/Chrome Apps.localized/Tailscale.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Tailscale.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/Tailscale.app/Contents/PkgInfo
  Applications/Chrome Apps.localized/Tailscale.app/Contents/Resources/app.icns
  Applications/Chrome Apps.localized/Tailscale.app/Contents/Resources/en-US.lproj/InfoPlist.strings
  Applications/Chrome Apps.localized/Tailscale.app/Contents/_CodeSignature/CodeResources
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Makefile
  _/hostwriter/.gitignore
  _/hostwriter/src/.gitignore
  _/hostwriter/src/main.rs
  _/shared/models/kubernetes/_Cluster.ts
  k3s.yaml
Due: prettier --write, eslint --fix

publish
  Makefile
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
