Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

publish
  _/home.lab/talos.ts
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  _/home.lab/talos.ts
  k1s.config.yml
Due: prettier --write, eslint --fix

publish
  _/home.lab/index.ts
  _/home.lab/talos.ts
  berry.sh
Due: eslint --fix

publish
  _/home.lab/talos.ts
Due: eslint --fix

publish
  _/shared/models/twingate/resource.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/home.lab/talos.ts
Due: eslint --fix

publish
  _/home.lab/kubernetes/index.ts
  _/home.lab/talos.ts
Due: eslint --fix

publish
  Library/Preferences/com.brnbw.Leader-Key.plist
  _/home.lab/talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: eslint --fix

publish
  Library/Preferences/us.zoom.updater.config.plist
  _/home.lab/homebridge.json
  _/home.lab/index.ts
  _/home.lab/kubernetes/index.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_ConfigMap.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  _/home.lab/talos.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
  _/shared/models/kubernetes/kubes/Plex.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/home.lab/homebridge.json
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: eslint --fix

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  _/cloud/firebase.ts
  _/home.lab/index.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Ingress.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: eslint --fix

publish
  _/home.lab/index.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Ingress.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/home.lab/index.ts
  _/shared/models/kubernetes/_Ingress.ts
  _/shared/models/kubernetes/_Port.ts
  _/shared/models/kubernetes/kubes/Test.ts
Due: eslint --fix

publish
  .config/starship.toml
  .zshrc
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.universalaccess.plist
  _/shared/models/kubernetes/_Ingress.ts
Due: eslint --fix

publish
  .config/starship.toml
Due: none

publish
  .zshrc
Due: none

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Kube.ts
Due: eslint --fix

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  _/cloud/hostwriter.app/package.json
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  _/cloud/hostwriter.app/package.json
  _/home.lab/index.ts
  _/shared/models/Talos.ts
Due: eslint --fix

publish
  _/cloud/hostwriter.app/pnpm-lock.yaml
  _/shared/models/Talos.ts
Due: prettier --write, eslint --fix

publish
  _/cloud/firebase.ts
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write, eslint --fix

publish
  _/cloud/hostwriter.app/package.json
  _/cloud/hostwriter.app/pnpm-lock.yaml
  _/package.json
  _/pnpm-lock.yaml
Due: prettier --write

publish
  _/package.json
  _/pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
