Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/gcp/IAM.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/kubes/Plex.ts
Due: eslint --fix

publish
  Library/Application Support/Code/User/settings.json
  Library/Application Support/Lens/lens-user-store.json
  Library/Preferences/com.apple.controlcenter.plist
  _/home.lab/index.ts
  _/index.ts
  _/shared/models/Talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Ingress.ts
  _/shared/models/twingate/index.ts
  _/shared/models/twingate/resource.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  _/cloud/.gitignore
  _/home.lab/.gitignore
Due: none

publish
  _/home.lab/Makefile
Due: none

publish
  .github/workflows/hostwriter.app.yml
  Library/Preferences/us.zoom.updater.config.plist
  _/hostwriter.app/.gitignore
  _/hostwriter.app/.vscode/launch.json
  _/hostwriter.app/.vscode/qwik-city.code-snippets
  _/hostwriter.app/.vscode/qwik.code-snippets
  _/hostwriter.app/.vscode/settings.json
  _/hostwriter.app/Makefile
  _/hostwriter.app/adapters/static/vite.config.ts
  _/hostwriter.app/firebase.json
  _/hostwriter.app/package.json
  _/hostwriter.app/pnpm-lock.yaml
  _/hostwriter.app/pnpm-workspace.yaml
  _/hostwriter.app/public/gHost.png
  _/hostwriter.app/public/group.png
  _/hostwriter.app/public/list.png
  _/hostwriter.app/public/menu.png
  _/hostwriter.app/public/robots.txt
  _/hostwriter.app/public/system.png
  _/hostwriter.app/src/components/header/header.scss
  _/hostwriter.app/src/components/header/header.tsx
  _/hostwriter.app/src/entry.dev.tsx
  _/hostwriter.app/src/entry.preview.tsx
  _/hostwriter.app/src/entry.ssr.tsx
  _/hostwriter.app/src/global.scss
  _/hostwriter.app/src/head.tsx
  _/hostwriter.app/src/root.tsx
  _/hostwriter.app/src/routes/index.scss
  _/hostwriter.app/src/routes/index.tsx
  _/hostwriter.app/src/routes/layout.tsx
  _/hostwriter.app/src/routes/service-worker.ts
  _/hostwriter.app/src/variables.scss
  _/hostwriter.app/tsconfig.json
  _/hostwriter.app/vite.config.ts
Due: prettier --write, stylelint --fix, eslint --fix

publish
  _/cloud/tsconfig.json
  _/home.lab/tsconfig.json
Due: none

publish
  _/wrangler.toml
Due: none

publish
  _/shared/models/gcp/IAM.ts
Due: eslint --fix

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/home.lab/index.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/clusters/_TalosCluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/cloudflare/workers/fetch.ts
  eslint.config.js
Due: eslint --fix

publish
  _/hostwriter.app/pnpm-lock.yaml
  _/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

publish
  .Brewfile
  Makefile
Due: none

publish
  Library/Preferences/com.apple.dock.plist
  _/cloud/index.ts
  _/shared/models/cloudflare/workers/index.ts
Due: eslint --fix

publish
  _/shared/models/cloudflare/workers/index.ts
Due: eslint --fix

publish
  Library/Application Support/Code/User/settings.json
  _/shared/models/cloudflare/workers/index.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/index.ts
  _/shared/models/_Config.ts
  _/shared/models/cloudflare/workers/fetch.ts
  _/shared/models/cloudflare/workers/index.ts
Due: eslint --fix

publish
  .config/starship.toml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/firebase.ts
  _/cloud/index.ts
  _/hostwriter.app/vite.config.ts
  _/shared/models/cloudflare/workers/fetch.ts
  _/shared/models/cloudflare/workers/index.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  _/cloud/firebase.ts
  _/hostwriter.app/vite.config.ts
Due: eslint --fix

publish
  _/cloud/index.ts
  _/shared/models/cloudflare/workers/fetch.ts
Due: eslint --fix

publish
  _/shared/models/cloudflare/workers/fetch.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/starship.toml
  Library/Preferences/com.apple.controlcenter.plist
Due: none

publish
  .config/starship.toml
Due: none

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.AppleMultitouchTrackpad.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
