Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

updates
  .gitignore
Due: none

updates
  .config/zed/settings.json
  .gitignore
  .vscode/.gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

updates
  .gitignore
  .vscode/style.css
Due: stylelint --fix

updates
  .gitignore
  .vscode/.gitignore
  .vscode/style.css
  _/cloud/hostwriter.app/.vscode/launch.json
  _/cloud/hostwriter.app/.vscode/qwik-city.code-snippets
  _/cloud/hostwriter.app/.vscode/qwik.code-snippets
  _/cloud/hostwriter.app/.vscode/settings.json
Due: stylelint --fix

updates
  .gitignore
  .vscode/.gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/style.css
  _/cloud/hostwriter.app/.vscode/launch.json
  _/cloud/hostwriter.app/.vscode/qwik-city.code-snippets
  _/cloud/hostwriter.app/.vscode/qwik.code-snippets
  _/cloud/hostwriter.app/.vscode/settings.json
Due: stylelint --fix

updates
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/cloud/firebase.ts
  _/shared/models/_Config.ts
  _/shared/models/cloudflare/_Record.ts
  _/shared/models/gcp/_Member.ts
Due: eslint --fix

updates
  _/cloud/firebase.ts
Due: eslint --fix

updates
  Library/Application Support/com.mitchellh.ghostty/config
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Library/Application Support/com.mitchellh.ghostty/config
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  Documents/guitar/switchcaster.icircuit
  Documents/guitar/switchcaster.sketch
  Library/Application Support/com.mitchellh.ghostty/config
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  .bashrc
  .profile
  .zshrc
  Brewfile
  Library/Application Support/com.mitchellh.ghostty/config
  Library/Preferences/com.apple.dock.plist
  Makefile
Due: none

updates
  .kiro/.gitignore
  .kiro/settings/.gitignore
  .kiro/settings/cli.json
Due: none

updates
  .config/starship.toml
Due: none

updates
  .kiro/settings/cli.json
  .zshrc
  Library/Application Support/com.mitchellh.ghostty/config
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  .kiro/settings/cli.json
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  Brewfile
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  Library/Application Support/com.mitchellh.ghostty/config
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

updates
  Library/Application Support/com.mitchellh.ghostty/config
Due: none

updates
  Library/Application Support/Code/User/settings.json
  Library/Application Support/com.mitchellh.ghostty/config
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  Documents/guitar/switchcaster.sketch
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Documents/guitar/switchcaster.sketch
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  .config/starship.toml
  Documents/guitar/switchcaster.icircuit
  Documents/guitar/switchcaster.sketch
  Library/Application Support/com.mitchellh.ghostty/config
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

updates
  Documents/guitar/switchcaster.png
  Documents/guitar/switchcaster.sketch
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  Documents/guitar/switchcaster.sketch
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Documents/guitar/switchcaster.sketch
Due: none

updates
  Documents/guitar/Strat-Body-Front.pdf
  Documents/guitar/switchcaster.sketch
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  Documents/guitar/switchcaster.sketch
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/local/kubernetes/index.ts
  _/shared/models/gcp/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Ingress.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
