Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

publish
  _/pnpm-lock.yaml
Due: prettier --write

publish
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.choosyosx.Choosy.plist
  _/hostwriter.app/package.json
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  _/hostwriter.app/package.json
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  _/hostwriter.app/vite.config.ts
Due: eslint --fix

publish
  _/hostwriter.app/.gitignore
  _/hostwriter.app/.vscode/settings.json
  _/hostwriter.app/Makefile
  _/hostwriter.app/package.json
  _/hostwriter.app/pnpm-lock.yaml
  _/hostwriter.app/tsconfig.json
  _/hostwriter.app/vite.config.ts
Due: prettier --write, eslint --fix

publish
  .bashrc
  .zshrc
Due: none

publish
  .bashrc
  .zshrc
  _/hostwriter.app/Makefile
Due: none

publish
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Application Support/.gitignore
  Library/Application Support/Choosy/behaviours.plist
  Library/Application Support/Tuna/.gitignore
  Library/Application Support/Tuna/config.toml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/karabiner/index.ts
  Library/Application Support/Tuna/config.toml
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: eslint --fix

publish
  Library/Application Support/Tuna/config.toml
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

publish
  .Brewfile
  .profile
  .warp/keybindings.yaml
  .zshrc
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: prettier --write

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  .Brewfile
  .config/karabiner/karabiner.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  .Brewfile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/hostwriter.app/.vscode/settings.json
Due: none

publish
  .gitignore
  .warp/settings.toml
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Applications/Claude Code URL Handler.app/Contents/Info.plist
  Applications/Claude Code URL Handler.app/Contents/MacOS/claude
  jitsu/.DS_Store
  jitsu/.gitconfig
  jitsu/.gitignore
  jitsu/.prettierrc.yml
Due: prettier --write

publish
  .claude/.last-cleanup
  .claude/history.jsonl
  .claude/settings.json
  .gitignore
  .prettierignore
Due: none

publish
  .claude/.last-cleanup
  .claude/history.jsonl
  .claude/settings.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  Library/Preferences/com.apple.dock.plist
  jitsu/.claude/settings.local.json
  jitsu/.gitignore
  jitsu/.vscode/settings.json
  jitsu/favicon-32x32.png
  jitsu/test.html
Due: prettier --write

publish
  .gitignore
Due: none

publish
  jitsu/.DS_Store
  jitsu/.claude/settings.local.json
  jitsu/.gitignore
  jitsu/.vscode/settings.json
  jitsu/favicon-32x32.png
  jitsu/test.html
Due: prettier --write

publish
  .gitignore
  jitsu/.gitconfig
  jitsu/.gitignore
  jitsu/.prettierrc.yml
Due: prettier --write

publish
  .gitignore
  Library/Preferences/com.apple.dock.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  .Brewfile
  .gitignore
  Applications/Claude Code URL Handler.app/Contents/MacOS/claude
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  Library/Services/Claude - ask.workflow/Contents/Info.plist
  Library/Services/Claude - ask.workflow/Contents/document.wflow
  Library/Services/Claude - codeHere.workflow/Contents/Info.plist
  Library/Services/Claude - codeHere.workflow/Contents/document.wflow
  Library/Services/Claude - send.workflow/Contents/Info.plist
  Library/Services/Claude - send.workflow/Contents/document.wflow
Due: none

publish
  .gitignore
  .warp/settings.toml
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  .gitignore
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  .Brewfile
Due: none

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  .warp/settings.toml
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Services/Claude - ask.workflow/Contents/Info.plist
  Library/Services/Claude - codeHere.workflow/Contents/Info.plist
  Library/Services/Claude - send.workflow/Contents/Info.plist
Due: none

publish
  .Brewfile
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/hostwriter.app/package.json
  _/hostwriter.app/pnpm-lock.yaml
  _/hostwriter.app/pnpm-workspace.yaml
Due: prettier --write

publish
  .warp/settings.toml
Due: none

publish
  .warp/settings.toml
  Library/.gitignore
  Library/Preferences/com.apple.Terminal.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  Library/Services/.gitignore
  Library/Services/Claude - ask.workflow/Contents/Info.plist
  Library/Services/Claude - ask.workflow/Contents/document.wflow
  Library/Services/Claude - codeHere.workflow/Contents/Info.plist
  Library/Services/Claude - codeHere.workflow/Contents/document.wflow
  Library/Services/Claude - send.workflow/Contents/Info.plist
  Library/Services/Claude - send.workflow/Contents/document.wflow
  Library/Services/Code.workflow/Contents/Info.plist
  Library/Services/Code.workflow/Contents/QuickLook/Thumbnail.png
  Library/Services/Code.workflow/Contents/document.wflow
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
