Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, stylelint --fix

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/Makefile
Due: none

updates
  Library/Preferences/us.zoom.updater.config.plist
  _/Makefile
Due: none

updates
  Makefile
  _/Makefile
Due: none

updates
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  Library/Preferences/com.apple.controlcenter.plist
Due: none

updates
  .config/git/config
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  .vscode/settings.json
  Library/Application Support/Code/User/settings.json
Due: none

updates
  Library/Application Support/Code/User/settings.json
Due: none

updates
  .config/git/config
Due: none

updates
  .config/git/config
  .config/starship.toml
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  .config/git/config
  .config/starship.toml
  Library/Application Support/Code/User/settings.json
  Library/Fonts/ComicShannsMonoNerdFont-Bold.otf
  Library/Fonts/ComicShannsMonoNerdFont-Regular.otf
  Library/Fonts/ComicShannsMonoNerdFontMono-Bold.otf
  Library/Fonts/ComicShannsMonoNerdFontMono-Regular.otf
  Library/Fonts/ComicShannsMonoNerdFontPropo-Bold.otf
  Library/Fonts/ComicShannsMonoNerdFontPropo-Regular.otf
  Library/Fonts/MonacoNerdFont-Bold.ttf
  Library/Fonts/MonacoNerdFont-BoldItalic.ttf
  Library/Fonts/MonacoNerdFont-Italic.ttf
  Library/Fonts/MonacoNerdFont-Regular.ttf
  Library/Fonts/MonacoNerdFontMono-Bold.ttf
  Library/Fonts/MonacoNerdFontMono-BoldItalic.ttf
  Library/Fonts/MonacoNerdFontMono-Italic.ttf
  Library/Fonts/MonacoNerdFontMono-Regular.ttf
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  .config/starship.toml
  Library/Application Support/Code/User/settings.json
  Library/Fonts/HackNerdFont-Bold.ttf
  Library/Fonts/HackNerdFont-BoldItalic.ttf
  Library/Fonts/HackNerdFont-Italic.ttf
  Library/Fonts/HackNerdFont-Regular.ttf
  Library/Fonts/HackNerdFontMono-Bold.ttf
  Library/Fonts/HackNerdFontMono-BoldItalic.ttf
  Library/Fonts/HackNerdFontMono-Italic.ttf
  Library/Fonts/HackNerdFontMono-Regular.ttf
  Library/Fonts/HackNerdFontPropo-Bold.ttf
  Library/Fonts/HackNerdFontPropo-BoldItalic.ttf
  Library/Fonts/HackNerdFontPropo-Italic.ttf
  Library/Fonts/HackNerdFontPropo-Regular.ttf
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  .config/starship.toml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

updates
  .config/starship.toml
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  .config/aliases
  .config/starship.toml
Due: none

updates
  Library/Fonts/ComicShannsMonoNerdFont-Bold.otf
  Library/Fonts/ComicShannsMonoNerdFont-Regular.otf
  Library/Fonts/ComicShannsMonoNerdFontMono-Bold.otf
  Library/Fonts/ComicShannsMonoNerdFontMono-Regular.otf
  Library/Fonts/ComicShannsMonoNerdFontPropo-Bold.otf
  Library/Fonts/ComicShannsMonoNerdFontPropo-Regular.otf
  Library/Fonts/HackNerdFontMono-Bold.ttf
  Library/Fonts/HackNerdFontMono-BoldItalic.ttf
  Library/Fonts/HackNerdFontMono-Italic.ttf
  Library/Fonts/HackNerdFontMono-Regular.ttf
  Library/Fonts/HackNerdFontPropo-Bold.ttf
  Library/Fonts/HackNerdFontPropo-BoldItalic.ttf
  Library/Fonts/HackNerdFontPropo-Italic.ttf
  Library/Fonts/HackNerdFontPropo-Regular.ttf
  Library/Fonts/MonacoNerdFontMono-Bold.ttf
  Library/Fonts/MonacoNerdFontMono-BoldItalic.ttf
  Library/Fonts/MonacoNerdFontMono-Italic.ttf
  Library/Fonts/MonacoNerdFontMono-Regular.ttf
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Library/Preferences/com.apple.dock.plist
  package.json
  pnpm-lock.yaml
Due: prettier --write

updates
  .config/aliases
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/Makefile
  _/kubernetes/_Cluster.ts
  _/wrangler.toml
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

updates
  .github/.gitignore
Due: none

updates
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  .gitignore
Due: none

updates
  .config/karabiner/pnpm-lock.yaml
Due: prettier --write

updates
  .github/workflows/hostwriter.app.yml
  Library/Preferences/com.apple.dock.plist
  _/cloud/hostwriter.app/.npmrc
  _/cloud/hostwriter.app/.vscode/launch.json
  _/cloud/hostwriter.app/.vscode/qwik-city.code-snippets
  _/cloud/hostwriter.app/.vscode/qwik.code-snippets
  _/cloud/hostwriter.app/.vscode/settings.json
  _/cloud/hostwriter.app/Makefile
  _/cloud/hostwriter.app/adapters/static/vite.config.ts
  _/cloud/hostwriter.app/firebase.json
  _/cloud/hostwriter.app/package.json
  _/cloud/hostwriter.app/pnpm-lock.yaml
  _/cloud/hostwriter.app/public/favicon.ico
  _/cloud/hostwriter.app/public/gHost.png
  _/cloud/hostwriter.app/public/group.png
  _/cloud/hostwriter.app/public/list.png
  _/cloud/hostwriter.app/public/menu.png
  _/cloud/hostwriter.app/public/robots.txt
  _/cloud/hostwriter.app/public/system.png
  _/cloud/hostwriter.app/src/components/header/header.scss
  _/cloud/hostwriter.app/src/components/header/header.tsx
  _/cloud/hostwriter.app/src/entry.dev.tsx
  _/cloud/hostwriter.app/src/entry.preview.tsx
  _/cloud/hostwriter.app/src/entry.ssr.tsx
  _/cloud/hostwriter.app/src/global.scss
  _/cloud/hostwriter.app/src/head.tsx
  _/cloud/hostwriter.app/src/root.tsx
  _/cloud/hostwriter.app/src/routes/index.scss
  _/cloud/hostwriter.app/src/routes/index.tsx
  _/cloud/hostwriter.app/src/routes/layout.tsx
  _/cloud/hostwriter.app/src/routes/service-worker.ts
  _/cloud/hostwriter.app/src/variables.scss
  _/cloud/hostwriter.app/tsconfig.json
  _/cloud/hostwriter.app/vite.config.ts
  code/.gitignore
Due: eslint --fix --max-warnings=0, prettier --write, stylelint --fix

updates
  _/shared/models/cloudflare/_Record.ts
  _/shared/models/kubernetes/_Ingress.ts
Due: eslint --fix --max-warnings=0

updates
  _/cloud/firebase.ts
  _/shared/models/cloudflare/_Record.ts
Due: eslint --fix --max-warnings=0

updates
  Library/Preferences/us.zoom.updater.config.plist
  _/package.json
  _/pnpm-lock.yaml
Due: prettier --write

updates
  pnpm-lock.yaml
Due: prettier --write

updates
  .gitignore
  .vscode/.gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/style.css
  _/cloud/hostwriter.app/.vscode/launch.json
  _/cloud/hostwriter.app/.vscode/qwik-city.code-snippets
  _/cloud/hostwriter.app/.vscode/qwik.code-snippets
  _/cloud/hostwriter.app/.vscode/settings.json
Due: stylelint --fix

updates
  .config/zed/settings.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/style.css
  _/cloud/hostwriter.app/.vscode/launch.json
  _/cloud/hostwriter.app/.vscode/qwik-city.code-snippets
  _/cloud/hostwriter.app/.vscode/qwik.code-snippets
  _/cloud/hostwriter.app/.vscode/settings.json
Due: stylelint --fix

Path conditions:
  eslint --fix --max-warnings=0: (any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]s)
  prettier --write: (any of: ./**/*.{yaml,yml}) or (any of: ./**/*.html)
  stylelint --fix: any of: ./**/*.{scss,css}
