Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, stylelint --fix

updates
  eslint.config.js
Due: eslint --fix --max-warnings=0

updates
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  eslint.config.js
Due: eslint --fix --max-warnings=0

updates
  Brewfile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  .config/.gitignore
Due: none

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  eslint.config.js
Due: eslint --fix --max-warnings=0

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  Library/Application Support/Code/User/settings.json
Due: none

updates
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Brewfile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.universalaccess.plist
Due: none

updates
  Library/Application Support/Code/User/keybindings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Brewfile
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.menuextra.clock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Brewfile
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.choosyosx.Choosy.plist
Due: none

updates
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.choosyosx.Choosy.plist
Due: none

updates
  .cloud/.gitignore
  .cloud/Pulumi.local.yaml
  .cloud/Pulumi.yaml
  .cloud/index.ts
  .gitignore
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

updates
  .cloud/.gitignore
  .cloud/Pulumi.local.yaml
  .cloud/Pulumi.yaml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  package.json
  pnpm-lock.yaml
Due: prettier --write

updates
  .cloud/.gitignore
Due: none

updates
  .cloud/.gitignore
  .gitignore
  .hammerspoon/.gitignore
  .hammerspoon/Spoons/clear.spoon/init.lua
  .hammerspoon/Spoons/enter.spoon/init.lua
  .hammerspoon/Spoons/escape.spoon/init.lua
  .hammerspoon/Spoons/finder.spoon/init.lua
  .hammerspoon/flow.toml
  .hammerspoon/init.lua
  Documents/guitar/.gitignore
  Documents/guitar/switchcaster.icircuit
  Documents/guitar/switchcaster.sketch
  Library/Preferences/com.apple.dock.plist
  Public/.gitignore
Due: none

updates
  .cloud/index.ts
Due: eslint --fix --max-warnings=0

updates
  .config/karabiner/index.ts
  .config/karabiner/types.ts
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: eslint --fix --max-warnings=0

Path conditions:
  eslint --fix --max-warnings=0: (any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]s)
  prettier --write: (any of: ./**/*.{yaml,yml}) or (any of: ./**/*.html)
  stylelint --fix: any of: ./**/*.{scss,css}
