Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.yml:

./**/*.[cm][jt]s: eslint --fix --max-warnings=0
./**/*.[jt]s: eslint --fix --max-warnings=0
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.html: prettier --write

updates
  cloud/cloudflare/workers/index.ts
Due: eslint --fix --max-warnings=0

updates
  .config/starship.toml
  Library/Preferences/com.apple.dock.plist
  cloud/cloudflare/_Record.ts
  cloud/cloudflare/index.ts
  cloud/gcloud/_APIKey.ts
  cloud/gcloud/_Account.ts
  cloud/gcloud/_Bucket.ts
  cloud/gcloud/_Member.ts
  cloud/index.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

updates
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  cloud/index.ts
Due: eslint --fix --max-warnings=0

updates
  .gitignore
  _cloud/.gitignore
  _cloud/Makefile
  _cloud/_Config.ts
  _cloud/cloudflare/_Record.ts
  _cloud/cloudflare/index.ts
  _cloud/cloudflare/workers/fetch.ts
  _cloud/cloudflare/workers/index.ts
  _cloud/gcloud/_APIKey.ts
  _cloud/gcloud/_Account.ts
  _cloud/gcloud/_Bucket.ts
  _cloud/gcloud/_Member.ts
  _cloud/index.ts
  _cloud/kubernetes/_Cluster.ts
  _cloud/kubernetes/_Ingress.ts
  _cloud/kubernetes/_Kube.ts
  _cloud/kubernetes/_Port.ts
  _cloud/kubernetes/index.ts
  _cloud/kubernetes/kubes/Homebridge.ts
  _cloud/kubernetes/kubes/Plex.ts
  _cloud/kubernetes/kubes/index.ts
  _cloud/twingate/index.ts
Due: eslint --fix --max-warnings=0

updates
  .gitignore
  _/.gitignore
  _/Makefile
  _/_Config.ts
  _/cloudflare/_Record.ts
  _/cloudflare/index.ts
  _/cloudflare/workers/fetch.ts
  _/cloudflare/workers/index.ts
  _/gcloud/_APIKey.ts
  _/gcloud/_Account.ts
  _/gcloud/_Bucket.ts
  _/gcloud/_Member.ts
  _/index.ts
  _/kubernetes/_Cluster.ts
  _/kubernetes/_Ingress.ts
  _/kubernetes/_Kube.ts
  _/kubernetes/_Port.ts
  _/kubernetes/index.ts
  _/kubernetes/kubes/Homebridge.ts
  _/kubernetes/kubes/Plex.ts
  _/kubernetes/kubes/index.ts
  _/twingate/index.ts
Due: eslint --fix --max-warnings=0

updates
  _/cloudflare/workers/experiments.ts
  _/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

updates
  _/gcloud/_Repository.ts
  _/kubernetes/configmap.ts
  _/kubernetes/kubes/PGcat.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

updates
  .kube/color.yml
  Brewfile
Due: prettier --write

updates
  .kube/color.yml
Due: prettier --write

updates
  .kube/color.yml
  Library/Preferences/com.apple.dock.plist
Due: prettier --write

updates
  .gitmodules
Due: none

updates
  Brewfile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Brewfile
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  .npmrc
  Library/Preferences/com.apple.dock.plist
  _/.gitignore
  _/package.json
  _/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

updates
  .env
Due: none

updates
  .config/karabiner/Makefile
  .config/karabiner/object.ts
  .config/karabiner/package.json
  .config/karabiner/pnpm-lock.yaml
  _/tsconfig.json
  package.json
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

updates
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
Due: none

updates
  .config/karabiner/index.ts
  .config/karabiner/karabiner.json
Due: eslint --fix --max-warnings=0

updates
  .zshrc
Due: none

updates
  Library/Preferences/com.apple.universalaccess.plist
Due: none

updates
  .config/.gitignore
Due: none

updates
  .zshrc
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  .config/starship.toml
  .env
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  _/Makefile
Due: none

updates
  .config/starship.toml
Due: none

updates
  .config/starship.toml
  .gitignore
  .kiro/.gitignore
  .kiro/settings/.gitignore
  .kiro/settings/cli.json
  .zshrc
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  .config/starship.toml
  .zshrc
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  .config/starship.toml
  .zshrc
  Library/Preferences/com.apple.dock.plist
Due: none
