Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]sx: eslint --fix
./**/*.[jt]s: eslint --fix

publish
  Documents/Makefile
  Library/Preferences/com.apple.dock.plist
  Makefile
Due: none

publish
  Documents/Makefile
  Makefile
Due: none

publish
  .Brewfile
  Makefile
Due: none

publish
  .Brewfile
  .cargo/.crates.toml
  .cargo/.crates2.json
  .cargo/.gitignore
  .gitignore
Due: none

publish
  .gitmodules
Due: none

publish
  .Brewfile
  Documents/manuals/BzzzzKill-Wiring-diagram-bypass.pdf
  Documents/manuals/BzzzzKill-Wiring_Diagram-Reverse_Wound_Middle_Pickup_Dual.pdf
  Documents/manuals/BzzzzKill-Wiring_Diagram-Standard_Wound_Pickup_Single.pdf
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .bashrc
  .profile
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.dock.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  _/pnpm-lock.yaml
Due: prettier --write

publish
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  .lintstagedrc.yml
  .prettierrc.yml
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  .lintstagedrc.yml
Due: prettier --write

publish
  .gitignore
  .lintstagedrc.yml
  .prettierignore
  pnpm-lock.yaml
Due: prettier --write

publish
  .lintstagedrc.yml
  .prettierrc.yml
Due: prettier --write

publish
  .config/aliases
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .npmrc
  Library/Application Support/Lens/lens-user-store.json
  Library/Preferences/com.apple.dock.plist
  _/cloud/hostwriter.app/.npmrc
Due: none

publish
  .config/starship.toml
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/starship.toml
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Makefile
  pnpm-lock.yaml
Due: prettier --write

publish
  Makefile
Due: none

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .Brewfile
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.choosyosx.Choosy.plist
Due: none

publish
  Documents/guitar/astrocaster.svg
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/gcp/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Preferences/com.apple.dock.plist
  _/local/tsconfig.json
  _/shared/decorators/once.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_ConfigMap.ts
  _/shared/models/kubernetes/_Kube.ts
Due: eslint --fix

publish
  Documents/guitar/astrocaster.svg
Due: none

publish
  .config/karabiner/index.ts
  .config/karabiner/karabiner.json
  Library/Preferences/com.apple.dock.plist
Due: eslint --fix

publish
  .config/karabiner/package.json
  .config/karabiner/pnpm-lock.yaml
  .config/karabiner/tsconfig.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: prettier --write

publish
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  .Brewfile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none
