Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

publish
  .gitignore
  k3s.config.yaml
Due: prettier --write

publish
  Makefile
  k3s.config.yml
Due: prettier --write

publish
  k3s.config.yml
Due: prettier --write

publish
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  .Brewfile
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/package.json
  _/pnpm-lock.yaml
  _/talos.ts
  talos.config.yml
Due: prettier --write, eslint --fix

publish
  .vscode/settings.json
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  talos.config.yml
Due: prettier --write

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  talos.config.yml
Due: prettier --write

publish
  Library/Preferences/com.apple.controlcenter.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  .config/aliases
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  .bashrc
  .config/aliases
  .config/starship.toml
  .warp/settings.toml
  .zshrc
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  talos.config.yml
Due: prettier --write

publish
  .config/starship.toml
Due: none

publish
  Library/Fonts/MonacoLigaturizedNerdFont-Bold.ttf
  Library/Fonts/MonacoLigaturizedNerdFont-BoldItalic.ttf
  Library/Fonts/MonacoLigaturizedNerdFont-Italic.ttf
  Library/Fonts/MonacoLigaturizedNerdFont-Regular.ttf
  Library/Fonts/MonacoLigaturizedNerdFontMono-Bold.ttf
  Library/Fonts/MonacoLigaturizedNerdFontMono-BoldItalic.ttf
  Library/Fonts/MonacoLigaturizedNerdFontMono-Italic.ttf
  Library/Fonts/MonacoLigaturizedNerdFontMono-Regular.ttf
  Library/Fonts/MonacoNerdFontMono-Bold.ttf
  Library/Fonts/MonacoNerdFontMono-BoldItalic.ttf
  Library/Fonts/MonacoNerdFontMono-Italic.ttf
  Library/Fonts/MonacoNerdFontMono-Regular.ttf
Due: none

publish
  .zshrc
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/us.zoom.updater.config.plist
  Makefile
  k1s.config.yml
Due: prettier --write

publish
  Library/Preferences/com.apple.controlcenter.plist
Due: none

publish
  Library/Application Support/Code/User/settings.json
  _/talos.ts
  talos.config.yml
Due: prettier --write, eslint --fix

publish
  _/talos.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/home/index.ts
  _/home/talos.ts
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/home/index.ts
  _/home/kubernetes/index.ts
  _/home/talos.ts
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  pnpm-lock.yaml
  talos.config.yml
Due: prettier --write

publish
  talos.config.yml
Due: prettier --write

publish
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.controlcenter.plist
  _/home/kubernetes/index.ts
  _/home/talos.ts
  talos.config.yml
Due: prettier --write, eslint --fix

publish
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/hostwriter.app/pnpm-lock.yaml
  _/home/kubernetes/index.ts
  _/home/talos.ts
  _/pnpm-lock.yaml
Due: prettier --write, eslint --fix

publish
  .env
  Library/Preferences/com.apple.controlcenter.plist
  _/home.lab/.gitignore
  _/home.lab/controlplane.yaml
  _/home.lab/index.ts
  _/home.lab/kubernetes/index.ts
  _/home.lab/talos.config.yml
  _/home.lab/talos.ts
  _/home.lab/talosconfig
  _/home.lab/tsconfig.json
  _/home.lab/worker.yaml
  _/home.lab/wrangler.toml
Due: prettier --write, eslint --fix

publish
  _/home.lab/controlplane.yaml
  _/home.lab/talos.ts
  _/home.lab/worker.yaml
Due: prettier --write, eslint --fix

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/home.lab/talos.ts
  _/home.lab/talosconfig
Due: eslint --fix

publish
  Library/Preferences/com.apple.universalaccess.plist
  _/home.lab/talos.ts
Due: eslint --fix

publish
  .Brewfile
Due: none

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/home.lab/talos.ts
  _/pnpm-lock.yaml
Due: prettier --write, eslint --fix

publish
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  _/home.lab/.gitignore
  _/home.lab/Makefile
  _/home.lab/kubernetes/index.ts
  _/home.lab/talos.ts
Due: eslint --fix

publish
  _/home.lab/Makefile
Due: none

publish
  _/home.lab/talos.ts
Due: eslint --fix

publish
  _/home.lab/kubernetes/index.ts
  _/shared/models/kubernetes/_Ingress.ts
Due: eslint --fix

publish
  _/home.lab/talos.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  Library/Application Support/Lens/lens-user-store.json
  _/home.lab/kubernetes/index.ts
  _/home.lab/talos.config.yml
  _/home.lab/talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Ingress.ts
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: prettier --write, eslint --fix

publish
  Library/Application Support/Code/User/settings.json
  _/home.lab/talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Ingress.ts
  _/shared/models/twingate/resource.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/twingate/index.ts
  _/shared/models/twingate/resource.ts
Due: eslint --fix

publish
  _/home.lab/talos.ts
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  _/home.lab/kubernetes/index.ts
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
