Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]sx: eslint --fix
./**/*.[jt]s: eslint --fix

updates
  Documents/guitar/switchcaster.svg
Due: none

updates
  Documents/guitar/switchcaster.svg
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Documents/guitar/switchcaster.sketch
  Documents/guitar/switchcaster.svg
Due: none

updates
  Documents/guitar/switchcaster.css
  Documents/guitar/switchcaster.svg
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: stylelint --fix

updates
  .vscode/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/package.json
  _/pnpm-lock.yaml
Due: prettier --write

updates
  .config/aliases
  Library/Preferences/com.apple.Terminal.plist
  Library/Preferences/com.apple.dock.plist
  _/package.json
Due: none

updates
  _/package.json
  pnpm-lock.yaml
Due: prettier --write

updates
  .husky/pre-commit
  .zshrc
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  .zshrc
  _/cloud/hostwriter.app/package.json
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

updates
  Library/Preferences/com.apple.dock.plist
  _/cloud/hostwriter.app/package.json
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

updates
  .env
  .zshrc
  Brewfile
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  .env
  .zshrc
Due: none

updates
  .zshrc
Due: none

updates
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Library/Application Support/Lens/lens-user-store.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/Datadog/index.ts
Due: eslint --fix

updates
  .github/workflows/tag.yml
Due: prettier --write

updates
  .github/workflows/publish.yml
  .github/workflows/tag.yml
Due: prettier --write

updates
  .github/workflows/cloud.preview.yml
  .github/workflows/cloud.update.yml
  .github/workflows/cloud.yml
  .github/workflows/deployment.shared.yml
  .github/workflows/events.yml
  .github/workflows/hostwriter.app.yml
  .github/workflows/lint.check.yml
  .github/workflows/rollout.shared.yml
Due: prettier --write

updates
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

updates
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  pnpm-lock.yaml
Due: prettier --write

updates
  .config/aliases
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

updates
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.Terminal.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

updates
  .pnpm/global/5/pnpm-lock.yaml
Due: prettier --write

updates
  Documents/guitar/switchcaster.icircuit
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

updates
  .config/karabiner/index.ts
  .config/karabiner/karabiner.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: eslint --fix

updates
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

updates
  .config/aliases
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  _/pnpm-lock.yaml
Due: prettier --write

updates
  Library/Preferences/com.apple.dock.plist
  _/package.json
  _/pnpm-lock.yaml
Due: prettier --write

updates
  .prettierrc.yml
  Documents/guitar/switchcaster.svg
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/us.zoom.updater.config.plist
  package.json
  pnpm-lock.yaml
Due: prettier --write

updates
  Documents/guitar/switchcaster.svg
  Library/Application Support/Code/User/settings.json
Due: none
