Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]sx: eslint --fix
./**/*.[jt]s: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/pnpm-lock.yaml
Due: prettier --write

publish
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  Documents/Makefile
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Documents/Makefile
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
Due: none

publish
  Documents/manuals/LIFx.pdf
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.ActivityMonitor.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Documents/manuals/Eve.pdf
  Documents/manuals/Inovelli White Series Smart 2-1 Switch (On-Off or Dimmer) Manual - VTM31-SN.pdf
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .Brewfile
  .config/karabiner/index.ts
  .config/karabiner/string.ts
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: eslint --fix

publish
  .config/karabiner/string.ts
Due: eslint --fix

publish
  .config/karabiner/index.ts
  .config/karabiner/string.ts
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: eslint --fix

publish
  .Brewfile
Due: none

publish
  .config/karabiner/string.ts
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: eslint --fix

publish
  .config/karabiner/index.ts
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: eslint --fix

publish
  .config/karabiner/index.ts
  .config/karabiner/object.ts
  .config/karabiner/string.ts
  .config/karabiner/types.ts
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: eslint --fix

publish
  .hammerspoon/Spoons/enter.spoon/init.lua
  .hammerspoon/Spoons/hide.spoon/init.lua
  .hammerspoon/init.lua
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  .config/aliases
Due: none

publish
  .config/aliases
  .config/git/config
Due: none

publish
  .config/git/config
Due: none

publish
  .config/aliases
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  .hammerspoon/init.lua
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  Library/Application Support/Choosy/behaviours.plist
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.choosyosx.Choosy.plist
Due: none

publish
  .warp/keybindings.yaml
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: prettier --write

publish
  .Brewfile
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none
