Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.yml:

./**/*.[cm][jt]s: eslint --fix --max-warnings=0
./**/*.[jt]s: eslint --fix --max-warnings=0
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.html: prettier --write

updates
  .config/karabiner/index.ts
  .zshrc
  Library/Preferences/com.apple.dock.plist
Due: eslint --fix --max-warnings=0

updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

updates
  .config/karabiner/karabiner.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

updates
  .config/karabiner/string.ts
Due: eslint --fix --max-warnings=0

updates
  .config/karabiner/object.ts
Due: eslint --fix --max-warnings=0

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  .cloud/index.ts
  .config/.gitignore
  .config/karabiner/.gitignore
  .config/karabiner/assets/.gitignore
  .config/karabiner/tsconfig.json
  .gitignore
  Library/Preferences/com.apple.dock.plist
  Pulumi.yml
  cloud/.gitignore
  cloud/homebridge.ts
  cloud/kubernetes.ts
  cloud/plex.ts
  cloud/port.ts
  eslint.config.js
  index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

updates
  .gitignore
  .zshrc
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  cloud/kubernetes.ts
  eslint.config.js
  shared/.gitignore
  shared/decorators/index.ts
  shared/decorators/once.ts
  shared/index.ts
Due: eslint --fix --max-warnings=0

updates
  .gitignore
  .husky/pre-commit
  .pnpm/.gitignore
  .pnpm/global/.gitignore
  .pnpm/global/5/package.json
  .pnpm/global/5/pnpm-lock.yaml
  .zshrc
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Makefile
  cloud/kubernetes.ts
  index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

updates
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Application Support/.gitignore
  Library/Application Support/Choosy/.gitignore
  Library/Application Support/Choosy/behaviours.plist
Due: none

updates
  Library/Application Support/.gitignore
Due: none

updates
  Library/Application Support/com.mitchellh.ghostty/.gitignore
  Library/Application Support/com.mitchellh.ghostty/config
Due: none

updates
  Library/Application Support/Leader Key/.gitignore
  Library/Application Support/Leader Key/config.json
Due: none

updates
  Library/Application Support/.gitignore
  Library/Application Support/Lens/.gitignore
  Library/Application Support/Lens/lens-user-store.json
Due: none

updates
  Library/Fonts/.gitignore
  Library/Fonts/effortless.ttf
Due: none

updates
  Library/Application Support/Code/User/settings.json
  Library/Screen Savers/.gitignore
  Library/Services/.gitignore
  Library/Sounds/.gitignore
  Public/.gitignore
Due: none

updates
  Documents/guitar/.gitignore
  Documents/guitar/switchcaster.icircuit
  Documents/guitar/switchcaster.sketch
Due: none

updates
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  cloud/Pulumi.local.yml
  cloud/Pulumi.yml
  cloud/index.ts
  cloud/request.ts
  eslint.config.js
  index.ts
  shared/decorators/once.ts
Due: eslint --fix --max-warnings=0, prettier --write

updates
  .config/karabiner/types.ts
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  cloud/.gitignore
  cloud/Makefile
  cloud/Pulumi.local.yml
  cloud/Pulumi.yml
  cloud/index.ts
  cloud/ingress.ts
  cloud/kubernetes.ts
  cloud/record.ts
  cloud/twingate.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

updates
  cloud/.gitignore
  cloud/Pulumi.yml
Due: prettier --write

updates
  cloud/twingate.ts
Due: eslint --fix --max-warnings=0

updates
  cloud/ingress.ts
Due: eslint --fix --max-warnings=0

updates
  cloud/index.ts
  cloud/twingate.ts
Due: eslint --fix --max-warnings=0

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  cloud/index.ts
  cloud/ingress.ts
  cloud/kubernetes.ts
  shared/decorators/once.ts
Due: eslint --fix --max-warnings=0

updates
  cloud/kubernetes.ts
  cloud/twingate.ts
Due: eslint --fix --max-warnings=0

updates
  cloud/index.ts
  cloud/ingress.ts
  cloud/kubernetes.ts
Due: eslint --fix --max-warnings=0

updates
  cloud/ingress.ts
  cloud/plex.ts
Due: eslint --fix --max-warnings=0

updates
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  cloud/index.ts
  cloud/ingress.ts
Due: eslint --fix --max-warnings=0

updates
  cloud/index.ts
Due: eslint --fix --max-warnings=0

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  cloud/index.ts
Due: eslint --fix --max-warnings=0

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  cloud/index.ts
Due: eslint --fix --max-warnings=0

updates
  Library/Preferences/com.apple.dock.plist
  cloud/kubernetes.ts
Due: eslint --fix --max-warnings=0
