Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]sx: eslint --fix
./**/*.[jt]s: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  _/shared/models/kubernetes/_Cluster.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

publish
  .vscode/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/local/kubernetes/index.ts
  _/pnpm-lock.yaml
  _/shared/models/kubernetes/_Cluster.ts
Due: prettier --write, eslint --fix

publish
  _/local/kubernetes/index.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/local/tsconfig.json
Due: none

publish
  _/pnpm-lock.yaml
Due: prettier --write

publish
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  Makefile
  _/local/kubernetes/index.ts
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Makefile
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  Makefile
  _/home/.gitignore
  _/home/index.ts
  _/home/kubernetes/index.ts
  _/home/tsconfig.json
  _/home/wrangler.toml
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  Library/Application Support/Lens/lens-user-store.json
  Library/Preferences/com.apple.dock.plist
  _/home/kubernetes/index.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
  _/shared/models/kubernetes/kubes/Homey.ts
  _/shared/models/kubernetes/kubes/Plex.ts
Due: eslint --fix

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/kubes/Homebridge.ts
  _/shared/models/kubernetes/kubes/Homey.ts
Due: eslint --fix

publish
  .config/aliases
Due: none

publish
  .gitignore
  Applications/.gitignore
  _/shared/models/kubernetes/kubes/Homey.ts
Due: eslint --fix

publish
  .config/aliases
  _/shared/models/kubernetes/kubes/Homey.ts
Due: eslint --fix

publish
  .prettierignore
  .warp/keybindings.yaml
  Library/Preferences/com.apple.dock.plist
Due: prettier --write

publish
  .warp/keybindings.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  _/cloud/hostwriter.app/pnpm-lock.yaml
  _/cloud/hostwriter.app/pnpm-workspace.yaml
Due: prettier --write

publish
  _/cloud/hostwriter.app/pnpm-workspace.yaml
Due: prettier --write

publish
  Library/Application Support/com.mitchellh.ghostty/config
  _/cloud/hostwriter.app/pnpm-workspace.yaml
Due: prettier --write

publish
  _/cloud/hostwriter.app/Makefile
Due: none

publish
  .config/starship.toml
  Library/Application Support/com.mitchellh.ghostty/config
  _/cloud/hostwriter.app/Makefile
Due: none

publish
  .Brewfile
  .npmrc
  Library/Preferences/com.apple.dock.plist
  package.json
  pnpm-lock.yaml
Due: prettier --write

publish
  .gitignore
  _/cloud/hostwriter.app/pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: prettier --write

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/hostwriter.app/pnpm-workspace.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.dock.plist
  _/cloud/hostwriter.app/pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: prettier --write
