Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]sx: eslint --fix
./**/*.[jt]s: eslint --fix

publish
  _/cloud/hostwriter.app/pnpm-workspace.yaml
Due: prettier --write

publish
  .Brewfile
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

publish
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Makefile
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/package.json
  _/pnpm-lock.yaml
  _/pnpm-workspace.yaml
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/twingate/index.ts
Due: prettier --write, eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  .Brewfile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Ingress.ts
Due: eslint --fix

publish
  .config/aliases
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Ingress.ts
  _/shared/models/twingate/index.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Application Support/Code/User/keybindings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/kubernetes/_Cluster.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

publish
  Library/Preferences/us.zoom.updater.config.plist
  Makefile
Due: none

publish
  .env
Due: none

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Makefile
Due: none

publish
  .config/karabiner/karabiner.json
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/karabiner/karabiner.json
  .config/starship.toml
  Library/Fonts/MonacoNerdFont-Bold.ttf
  Library/Fonts/MonacoNerdFont-BoldItalic.ttf
  Library/Fonts/MonacoNerdFont-Italic.ttf
  Library/Fonts/MonacoNerdFont-Regular.ttf
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/starship.toml
Due: none

publish
  .config/starship.toml
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Documents/Makefile
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Documents/Makefile
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Documents/.gitignore
  Documents/setup.sh
Due: none

publish
  .Brewfile
  Library/Preferences/com.apple.dock.plist
  Makefile
Due: none

publish
  Makefile
Due: none
