Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

publish
  .Brewfile
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .Brewfile
  .cargo/.crates.toml
  .cargo/.crates2.json
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Makefile
Due: none

publish
  Documents/setup.sh
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
Due: none

publish
  .Brewfile
  .cargo/.crates.toml
  .cargo/.crates2.json
  Library/Preferences/com.apple.dock.plist
  Makefile
Due: none

publish
  Documents/setup.sh
  Makefile
Due: none

publish
  .cargo/.crates.toml
  .cargo/.crates2.json
  Makefile
Due: none

publish
  Documents/setup.sh
  Library/Preferences/com.apple.dock.plist
  _/pnpm-workspace.yaml
Due: prettier --write

publish
  Makefile
  pnpm-lock.yaml
Due: prettier --write

publish
  .gitignore
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Makefile
  berry.sh
Due: none

publish
  .config/starship.toml
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Library/Application Support/Lens/lens-user-store.json
  Library/Preferences/com.apple.dock.plist
  _/cloud/.gitignore
  _/home/.gitignore
Due: none

publish
  .config/starship.toml
Due: none

publish
  .warp/.gitignore
  .warp/settings.toml
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Applications/Chrome Apps.localized/GitHub.app/Contents/Info.plist
  Applications/Chrome Apps.localized/GitHub.app/Contents/MacOS/app_mode_loader
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .env
Due: none

publish
  .env
  .warp/settings.toml
Due: none

publish
  _/cloud/hostwriter.app/tsconfig.json
Due: none

publish
  .config/starship.toml
  Applications/Chrome Apps.localized/Facebook.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Facebook.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/Homebridge.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Homebridge.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/YouTube.app/Contents/Info.plist
  Applications/Chrome Apps.localized/YouTube.app/Contents/MacOS/app_mode_loader
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .config/starship.toml
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

publish
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Documents/guitar/switchcaster.icircuit
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  .config/aliases
  _/home/kubernetes/index.ts
Due: eslint --fix

publish
  Documents/guitar/astrocaster.svg
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Documents/guitar/Strat-Body-Front.pdf
  Documents/guitar/switchcaster.sketch
Due: none

publish
  Applications/Line6/Helix Stadium.app/Contents/Resources/ModelMetadataStore.sqlite3
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
