Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]sx: eslint --fix
./**/*.[jt]s: eslint --fix

updates
  Library/Application Support/Code/User/.gitignore
  Library/Application Support/Code/User/settings.json
  Library/Application Support/Code/User/vsicons-custom-icons/.gitignore
  Library/Application Support/Code/User/vsicons-custom-icons/file_type_homebrew.svg
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  Library/Application Support/Code/User/settings.json
Due: none

updates
  .pnpm/global/5/package.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/firebase.ts
  _/cloud/hostwriter.app/package.json
  _/cloud/tsconfig.json
  _/package.json
  _/pnpm-lock.yaml
  _/shared/models/gcp/_Account.ts
  _/shared/models/gcp/_Member.ts
Due: prettier --write, eslint --fix

updates
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

updates
  _/cloud/hostwriter.app/package.json
Due: none

updates
  _/cloud/hostwriter.app/package.json
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

updates
  .Brewfile
  Library/Preferences/com.apple.dock.plist
Due: none

updates
  .hammerspoon/init.lua
Due: none

updates
  Library/Preferences/com.apple.dock.plist
  Makefile
Due: none

updates
  .hammerspoon/Spoons/escape.spoon/init.lua
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Application Support/Choosy/behaviours.plist
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
Due: none

updates
  .Brewfile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  .config/karabiner/index.ts
  .config/karabiner/karabiner.json
  .hammerspoon/Spoons/escape.spoon/init.lua
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: eslint --fix

updates
  Library/Application Support/Code/User/settings.json
  Library/Application Support/Code/User/vsicons-custom-icons/file_type_homebrew.svg
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

updates
  .config/karabiner/index.ts
  .config/karabiner/karabiner.json
Due: eslint --fix

updates
  .hammerspoon/Spoons/escape.spoon/init.lua
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  .hammerspoon/init.lua
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
Due: none

updates
  .hammerspoon/Spoons/clear.spoon/init.lua
  .hammerspoon/Spoons/hide.spoon/init.lua
  .hammerspoon/init.lua
Due: none

updates
  .hammerspoon/init.lua
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

updates
  .hammerspoon/Spoons/hide.spoon/init.lua
Due: none

updates
  .github/workflows/publish.yml
Due: prettier --write

publish
  .github/workflows/publish.yml
Due: prettier --write

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .hammerspoon/init.lua
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none
