Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

publish
  _/resume/index.html
Due: prettier --write

publish
  _/resume/index.css
  _/resume/index.html
Due: prettier --write, stylelint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  _/resume/index.css
  _/resume/index.html
Due: prettier --write, stylelint --fix

publish
  Documents/.gitignore
  Documents/resume/index.css
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/resume/index.html
Due: prettier --write, stylelint --fix

publish
  Documents/resume/index.css
Due: stylelint --fix

publish
  Documents/resume/index.css
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: stylelint --fix

publish
  Documents/resume/index.css
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.dock.plist
Due: stylelint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/Tailscale/index.ts
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Documents/.gitignore
  Documents/resume/.gitignore
  Documents/resume/index.html
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: prettier --write

publish
  Documents/resume/index.html
Due: prettier --write

publish
  Documents/resume/index.css
  Documents/resume/index.html
Due: prettier --write, stylelint --fix

publish
  Documents/resume/index.css
  Documents/resume/index.html
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: prettier --write, stylelint --fix

publish
  .config/aliases
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .warp/settings.toml
  .zshrc
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  pnpm-lock.yaml
Due: prettier --write

publish
  .gitmodules
  .warp/settings.toml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/starship.toml
  Applications/Chrome Apps.localized/Google Meet.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Google Meet.app/Contents/MacOS/app_mode_loader
  Library/.gitignore
  Library/Application Support/Lens/lens-user-store.json
  Library/Preferences/com.apple.Terminal.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Sounds/.gitignore
Due: none

publish
  .Brewfile
  Library/Application Support/Lens/lens-user-store.json
  Library/Preferences/com.apple.Terminal.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/git/config
  .pnpm/global/5/package.json
  .pnpm/global/5/pnpm-lock.yaml
  .zshrc
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: prettier --write

publish
  .Brewfile
  Library/Application Support/Lens/lens-user-store.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .warp/settings.toml
  Library/Application Support/Lens/lens-user-store.json
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .vscode/style.css
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: stylelint --fix

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .Brewfile
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  _/.gitignore
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  _/hostwriter.app/pnpm-workspace.yaml
Due: prettier --write

publish
  _/hostwriter.app/.gitignore
Due: none

publish
  .config/raycast/scripts/.gitignore
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.Terminal.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  eslint.config.js
Due: eslint --fix

publish
  Library/Application Support/Code/User/settings.json
Due: none

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/package.json
  _/pnpm-lock.yaml
Due: prettier --write

publish
  .config/karabiner/karabiner.json
  .config/karabiner/pnpm-lock.yaml
Due: prettier --write

publish
  .warp/settings.toml
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
