Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .npmrc
  Library/Preferences/com.apple.dock.plist
  _/cloud/hostwriter.app/.npmrc
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  .pnpm/global/5/package.json
  .pnpm/global/5/pnpm-lock.yaml
Due: prettier --write

publish
  _/pnpm-lock.yaml
Due: prettier --write

publish
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Documents/guitar/switchcaster.icircuit
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .Brewfile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .Brewfile
Due: none

publish
  .Brewfile
  Library/Preferences/com.apple.universalaccess.plist
Due: none

publish
  .Brewfile
  .config/aliases
Due: none

publish
  .config/aliases
Due: none

publish
  Library/Preferences/com.apple.dock.plist
  _/cloud/hostwriter.app/src/head.tsx
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  _/cloud/hostwriter.app/public/favicon.ico
  _/cloud/hostwriter.app/src/head.tsx
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .Brewfile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/cloud/hostwriter.app/src/components/header/header.tsx
Due: eslint --fix

publish
  _/cloud/hostwriter.app/src/components/header/header.tsx
Due: eslint --fix

publish
  .config/aliases
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  .github/dependabot.yml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: prettier --write

publish
  .zshrc
Due: none

publish
  .github/dependabot.yml
Due: prettier --write

publish
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Services/.gitignore
  Library/Services/Code.workflow/Contents/Info.plist
  Library/Services/Code.workflow/Contents/QuickLook/Thumbnail.png
  Library/Services/Code.workflow/Contents/document.wflow
Due: none

publish
  .env
  Documents/Makefile
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  .bashrc
  .profile
Due: none

publish
  Documents/Makefile
  Library/Preferences/com.apple.dock.plist
  Makefile
Due: none

publish
  Documents/Makefile
  Makefile
Due: none

publish
  Makefile
Due: none

publish
  .config/starship.toml
  .prettierrc.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
