Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]sx: eslint --fix
./**/*.[jt]s: eslint --fix

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  _/cloud/hostwriter.app/package.json
  _/cloud/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  .warp/settings.toml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/home.lab/index.ts
  _/home.lab/talos.image.yml
  _/shared/models/Talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/Test.ts
Due: prettier --write, eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
Due: eslint --fix

publish
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/pnpm-lock.yaml
  _/shared/models/kubernetes/_Cluster.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  .Brewfile
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.brnbw.Leader-Key.plist
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/twingate/resource.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.universalaccess.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  .warp/settings.toml
  Library/Application Support/Code/User/keybindings.json
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/Talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
  _/shared/models/kubernetes/kubes/Homey.ts
  _/shared/models/kubernetes/kubes/Plex.ts
  _/shared/models/kubernetes/kubes/Test.ts
Due: eslint --fix

publish
  _/shared/models/Talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  _/home.lab/index.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
  _/shared/models/kubernetes/kubes/Test.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/home.lab/index.ts
  _/shared/models/Talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/kubes/Test.ts
Due: eslint --fix

publish
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/cloud/hostwriter.app/package.json
  _/pnpm-lock.yaml
  _/shared/models/Talos.ts
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
Due: prettier --write, eslint --fix

publish
  _/cloud/hostwriter.app/package.json
  _/home.lab/index.ts
  _/shared/models/kubernetes/kubes/Plex.ts
Due: eslint --fix

publish
  _/home.lab/index.ts
  _/hostwriter/.gitignore
  _/shared/models/kubernetes/kubes/Plex.ts
Due: eslint --fix

publish
  _/cloud/hostwriter.app/pnpm-lock.yaml
  _/hostwriter/.gitignore
Due: prettier --write

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/Plex.ts
  _/shared/models/kubernetes/kubes/Test.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/Homebridge.ts
  _/shared/models/kubernetes/kubes/Plex.ts
  _/shared/models/kubernetes/kubes/Test.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Kube.ts
Due: eslint --fix

publish
  .Brewfile
  _/home.lab/index.ts
Due: eslint --fix

publish
  Library/Preferences/com.apple.controlcenter.plist
  _/home.lab/index.ts
  _/shared/models/kubernetes/_Kube.ts
  _/shared/models/kubernetes/kubes/index.ts
  _/shared/models/kubernetes/kubes/mDNS.ts
Due: eslint --fix

publish
  _/home.lab/index.ts
  _/shared/models/kubernetes/kubes/Test.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/kubes/Hostwriter.app.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/kubes/Plex.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
  _/shared/models/kubernetes/kubes/Plex.ts
  eslint.config.js
Due: eslint --fix

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/Talos.ts
Due: eslint --fix

publish
  .vscode/settings.json
Due: none

publish
  _/shared/models/kubernetes/kubes/Plex.ts
Due: eslint --fix

publish
  .vscode/style.css
Due: stylelint --fix

publish
  .Brewfile
Due: none

publish
  .Brewfile
  .vscode/settings.json
  _/.gitignore
  _/cloud/.gitignore
  _/cloud/hostwriter.app/.gitignore
  _/home.lab/.gitignore
  _/index.ts
Due: eslint --fix

publish
  .env
  _/index.ts
  _/package.json
  _/shared/models/_Config.ts
  _/tsconfig.json
Due: eslint --fix

publish
  _/shared/models/_Config.ts
  _/tsconfig.json
Due: eslint --fix
