Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{yaml,yml}: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]sx: eslint --fix
./**/*.[jt]s: eslint --fix

publish
  .config/starship.toml
Due: none

publish
  .config/starship.toml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

publish
  .warp/themes/arcade_light.yml
Due: prettier --write

publish
  .config/starship.toml
  .warp/themes/arcade_light.yml
Due: prettier --write

publish
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  _/shared/models/kubernetes/_Cluster.ts
Due: eslint --fix

publish
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.Terminal.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  .config/karabiner/index.ts
  .config/karabiner/karabiner.json
Due: eslint --fix

publish
  .Brewfile
  .config/karabiner/pnpm-lock.yaml
Due: prettier --write

publish
  .prettierignore
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  .husky/pre-commit
  .prettierignore
  Applications/Chrome Apps.localized/YouTube.app/Contents/Info.plist
  Applications/Chrome Apps.localized/YouTube.app/Contents/MacOS/app_mode_loader
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  Library/Application Support/.gitignore
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .husky/pre-commit
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Application Support/Choosy/behaviours.plist
Due: none

publish
  Applications/Google Meet.app/Contents/Info.plist
  Applications/Google Meet.app/Contents/Resources/ApplicationIcon.icns
  Applications/Google Meet.app/Contents/_CodeSignature/CodeDirectory
  Applications/Google Meet.app/Contents/_CodeSignature/CodeRequirements
  Applications/Google Meet.app/Contents/_CodeSignature/CodeResources
  Applications/Google Meet.app/Contents/_CodeSignature/CodeSignature
  Applications/YouTube.app/Contents/Info.plist
  Applications/YouTube.app/Contents/Resources/ApplicationIcon.icns
  Applications/YouTube.app/Contents/_CodeSignature/CodeDirectory
  Applications/YouTube.app/Contents/_CodeSignature/CodeRequirements
  Applications/YouTube.app/Contents/_CodeSignature/CodeResources
  Applications/YouTube.app/Contents/_CodeSignature/CodeSignature
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  Applications/Facebook.app/Contents/Info.plist
  Applications/Facebook.app/Contents/Resources/ApplicationIcon.icns
  Applications/Facebook.app/Contents/_CodeSignature/CodeDirectory
  Applications/Facebook.app/Contents/_CodeSignature/CodeRequirements
  Applications/Facebook.app/Contents/_CodeSignature/CodeResources
  Applications/Facebook.app/Contents/_CodeSignature/CodeSignature
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.choosyosx.Choosy.plist
Due: none

publish
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/PkgInfo
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/Resources/app.icns
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/Resources/en-US.lproj/InfoPlist.strings
  Applications/Chrome Apps.localized/Artifact Hub.app/Contents/_CodeSignature/CodeResources
  Applications/Chrome Apps.localized/Facebook.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Facebook.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/Facebook.app/Contents/PkgInfo
  Applications/Chrome Apps.localized/Facebook.app/Contents/Resources/app.icns
  Applications/Chrome Apps.localized/Facebook.app/Contents/Resources/en-US.lproj/InfoPlist.strings
  Applications/Chrome Apps.localized/Facebook.app/Contents/_CodeSignature/CodeResources
  Applications/Chrome Apps.localized/GitHub.app/Contents/Info.plist
  Applications/Chrome Apps.localized/GitHub.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/GitHub.app/Contents/PkgInfo
  Applications/Chrome Apps.localized/GitHub.app/Contents/Resources/app.icns
  Applications/Chrome Apps.localized/GitHub.app/Contents/Resources/en-US.lproj/InfoPlist.strings
  Applications/Chrome Apps.localized/GitHub.app/Contents/_CodeSignature/CodeResources
  Applications/Chrome Apps.localized/Homey Web App.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Homey Web App.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/Homey Web App.app/Contents/PkgInfo
  Applications/Chrome Apps.localized/Homey Web App.app/Contents/Resources/app.icns
  Applications/Chrome Apps.localized/Homey Web App.app/Contents/Resources/en-US.lproj/InfoPlist.strings
  Applications/Chrome Apps.localized/Homey Web App.app/Contents/_CodeSignature/CodeResources
  Applications/Chrome Apps.localized/YouTube.app/Contents/Info.plist
  Applications/Chrome Apps.localized/YouTube.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/YouTube.app/Contents/PkgInfo
  Applications/Chrome Apps.localized/YouTube.app/Contents/Resources/app.icns
  Applications/Chrome Apps.localized/YouTube.app/Contents/Resources/en-US.lproj/InfoPlist.strings
  Applications/Chrome Apps.localized/YouTube.app/Contents/_CodeSignature/CodeResources
Due: none

publish
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .gitmodules
  Applications/Chrome Apps.localized/Homebridge.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Homebridge.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/Homebridge.app/Contents/PkgInfo
  Applications/Chrome Apps.localized/Homebridge.app/Contents/Resources/app.icns
  Applications/Chrome Apps.localized/Homebridge.app/Contents/Resources/en-US.lproj/InfoPlist.strings
  Applications/Chrome Apps.localized/Homebridge.app/Contents/_CodeSignature/CodeResources
  Applications/Google Meet.app/Contents/Resources/ApplicationIcon.icns
  Applications/Google Meet.app/Contents/_CodeSignature/CodeDirectory
  Applications/Homebridge.app/Contents/Info.plist
  Applications/Homebridge.app/Contents/Resources/ApplicationIcon.icns
  Applications/Homebridge.app/Contents/_CodeSignature/CodeDirectory
  Applications/Homebridge.app/Contents/_CodeSignature/CodeRequirements
  Applications/Homebridge.app/Contents/_CodeSignature/CodeResources
  Applications/Homebridge.app/Contents/_CodeSignature/CodeSignature
  Applications/YouTube.app/Contents/Info.plist
  Applications/YouTube.app/Contents/_CodeSignature/CodeDirectory
  Library/Application Support/Choosy/behaviours.plist
  Library/Preferences/com.apple.AppleMultitouchTrackpad.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  .hammerspoon/init.lua
  .vscode/settings.json
  Library/Preferences/com.apple.dock.plist
Due: none

publish
  .vscode/extensions.json
Due: none

publish
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Documents/guitar/astrocaster.svg
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/karabiner/pnpm-lock.yaml
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  _/package.json
  _/pnpm-lock.yaml
  _/shared/models/cloudflare/workers/index.ts
Due: prettier --write, eslint --fix

publish
  .bashrc
  .zshrc
  Library/Application Support/Leader Key/config.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .config/starship.toml
  pnpm-lock.yaml
Due: prettier --write

publish
  .config/starship.toml
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .bashrc
  .zshrc
  Library/Preferences/com.apple.controlcenter.plist
Due: none
