Repository that70schris/home: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

publish
  Library/.gitignore
  Library/Services/.gitignore
  Library/Services/Code.workflow/Contents/Info.plist
  Library/Services/Code.workflow/Contents/QuickLook/Thumbnail.png
  Library/Services/Code.workflow/Contents/document.wflow
Due: none

publish
  Library/Services/.gitignore
  Library/Services/Code.workflow/Contents/Info.plist
  Library/Services/Code.workflow/Contents/QuickLook/Thumbnail.png
  Library/Services/Code.workflow/Contents/document.wflow
Due: none

publish
  .claude/.gitignore
  .claude/settings.json
  .gitignore
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
Due: none

publish
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

publish
  .claude/.gitignore
Due: none

publish
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  .codex/.gitignore
  .codex/config.toml
  .gitignore
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .github/.gitignore
  .gitignore
  .warp/themes/.gitignore
  Library/Fonts/.gitignore
  Library/Screen Savers/.gitignore
Due: none

publish
  .Brewfile
  .codex/config.toml
  .warp/settings.toml
  Library/Application Support/Code/User/settings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  _/hostwriter.app/.vscode/settings.json
Due: none

publish
  _/hostwriter.app/pnpm-lock.yaml
Due: prettier --write

publish
  .codex/config.toml
  Applications/Chrome Apps.localized/Google Meet.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Google Meet.app/Contents/MacOS/app_mode_loader
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.CloudSubscriptionFeatures.config.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .codex/config.toml
  Applications/Chrome Apps.localized/Cloudflare.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Cloudflare.app/Contents/MacOS/app_mode_loader
  Applications/Chrome Apps.localized/Tailscale.app/Contents/Info.plist
  Applications/Chrome Apps.localized/Tailscale.app/Contents/MacOS/app_mode_loader
  Applications/Claude Code URL Handler.app/Contents/MacOS/claude
  Library/Application Support/Choosy/behaviours.plist
  Library/Application Support/Code/User/keybindings.json
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
Due: none

publish
  .codex/config.toml
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  .codex/config.toml
  Library/Preferences/com.apple.Accessibility.plist
  Library/Preferences/com.apple.controlcenter.plist
  Library/Preferences/com.apple.dock.plist
  Library/Preferences/com.apple.universalaccess.plist
  Library/Preferences/com.brnbw.Leader-Key.plist
  Library/Preferences/com.choosyosx.Choosy.plist
  Library/Preferences/org.hammerspoon.Hammerspoon.plist
  Library/Preferences/us.zoom.updater.config.plist
  pnpm-lock.yaml
Due: prettier --write

publish
  _/pnpm-lock.yaml
Due: prettier --write

publish
  _/shared/models/gcp/database/_Instance.ts
Due: eslint --fix

Path conditions:
  prettier --write: (any of: ./**/*.html) or (any of: ./**/*.{yaml,yml})
  stylelint --fix: any of: ./**/*.{scss,css}
  eslint --fix: ((any of: ./**/*.[cm][jt]s) or (any of: ./**/*.[jt]sx)) or (any of: ./**/*.[jt]s)
